:root {
  --primary-color: #186ebe;
  --secondary-color: rgb(12, 172, 234);
  --color-white: #fff;
  --color-light: #d4d4d4;
  --color-grey: #adbdcc;
  --text-dark: #000;
  --text-semi-dark: #727272;
  --text-secondary: #d4d4d4;

  --body-font: "Anek Telugu", "sans-serif";
  --heading-font: "Roboto", "sans-serif";

  --h1-font-size: 96px;
  --h1-line-height: 108px;
  --h2-font-size: 62px;
  --h2-line-height: 75px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 16px;
  --p-font-size: 18px;
  --p-line-height: 24px;
  --button-font-size: 16px;

  /* SPACING */
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 32px;
  --space-xl: 64px;
}

body {
  width: 100%;
  font-family: var(--body-font);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-white);
}

h1 {
  font-family: var(--heading-font);
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: 600;
  letter-spacing: -1px;
  margin: 0;
  width: 100%;
}
h2 {
  font-family: var(--heading-font);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: 500;
  margin: 0;
  width: 100%;
  position: relative;
}

h2::before {
  content: "";
  width: 120px;
  height: 1px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
}

h3 {
  font-family: var(--heading-font);
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  font-weight: 500;
  margin: 0;
  width: 100%;
}

h4 {
  font-family: var(--heading-font);
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
  font-weight: 500;
  margin: 0;
  width: 100%;
}

h5 {
  font-family: var(--heading-font);
  font-size: var(--h5-font-size);
  line-height: var(--h5-line-height);
  font-weight: 500;
  margin: 0;
  width: 100%;
}

h6 {
  font-family: var(--heading-font);
  font-size: var(--h6-font-size);
  line-height: var(--h6-line-height);
  font-weight: 500;
  margin: 0;
  width: 100%;
}

p {
  font-family: var(--body-font);
  line-height: var(--p-line-height);
  margin: var(--space-md) 0;
  font-weight: 500;
}

a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 500;
  color: var(--text-dark);
}

a:hover {
  color: var(--primary-color);
}
button {
  background-color: var(--secondary-color);
  color: var(--color-white);
  border: none;
  text-transform: uppercase;
  background-color: var(--primary-color);
  padding: calc(var(--space-md) - 2px) calc(var(--space-lg) + 10px);
}

/* LAYOUT STYLES */

.section-space {
  padding: 0 calc(var(--space-xl) + 20px);
}

.card-container {
  width: 100%;
  background-color: var(--color-white);
  padding: var(--space-lg) calc(var(--space-xl) + 20px);
  display: flex;
  box-sizing: border-box;
}

.card-container .card {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-lg) 0;
  box-sizing: border-box;
}

.card .card-image {
  width: 330px;
  height: 220px;
}

.card-container .card .card-image img {
  width: 100%;
}

.card-container .card h3 {
  text-align: center;
  margin: var(--space-lg) 0 var(--space-md) 0;
  transition: all 0.15s ease-in;
}

.card-container .card h3:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.card-container .card p {
  width: 80%;
  text-align: center;
  color: var(--text-semi-dark);
  margin: 0 0 var(--space-lg) 0;
  flex-grow: 1;
}

/* two coloumns layout */

.two-columns .two-columns-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.two-columns-grid .grid-left img {
  width: 100%;
  height: 100%;
}

.two-columns .two-columns-grid .grid-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--space-xl) + 20px) var(--space-xl);

  background-color: rgb(90, 138, 172);
}

.two-columns-grid .grid-right h3 {
  text-align: center;
  color: var(--color-light);
  margin: 0 0 var(--space-md) 0;
}
.two-columns-grid .grid-right p {
  text-align: center;
  color: var(--text-secondary);
}
.two-columns-grid .grid-right button {
  margin: var(--space-lg) 0 0 0;
}

/* MAIN */
.main {
}

/* NAVBAR STYLES */
.navbar {
  width: 100%;
  display: flex;
  background-color: var(--color-white);
  padding: var(--space-sm) 0;
  display: flex;
  align-items: center;
}

#navbar-logo {
  height: 70px;
  margin: 0 var(--space-sm) 0 var(--space-lg);
}

.navbar .menu {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .menu li {
  list-style-type: none;
}

.navbar .menu li a {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 500;
}

/* HERO SECTION STYLES */
.hero-section {
  width: 100%;
  position: relative;
}

.hero-section .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("assests/background1.webp");
  height: 800px;
}

.hero h1 {
  text-align: center;
  color: var(--color-white);
  letter-spacing: 3px;
  margin: 0 0 var(--space-sm) 0;
}

.hero h4 {
  text-align: center;
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 0 var(--space-xl) 0;
}

.hero button {
  background-color: var(--secondary-color);
  padding: calc(var(--space-md) + 3px) var(--space-lg);
  border: 2px solid transparent;
  font-weight: 600;
  transition: all 0.25s ease-in;
}

.hero button:hover {
  background-color: transparent;
  border: 2px solid var(--color-white);
  cursor: pointer;
  outline: none;
}

/* HERO SECTION DROP MENU STYLES */
.drop-menu {
  width: 280px;
  background-color: var(--color-light);
  position: absolute;
  top: 0;
  left: 50%;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: var(--space-lg) var(--space-xl) var(--space-lg) var(--space-lg);
}

.options a {
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: var(--space-md);
  border-bottom: 1px solid var(--text-dark);
  transition: all 0.4s ease;
}

.options a:hover {
  color: var(--color-white);
  border-color: var(--color-white);
}

/* GRAPHIC SECTION */
.graphic-section {
  width: 100%;
  position: relative;
}

.graphic-images {
  position: relative;
  width: 100%;
  height: 500px;
}

#milk {
  width: 100%;
  height: 100%;
}

#graphic-logo {
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
}

/* PRODUCTION SECTION */

.production-section h2 {
  text-align: center;
  margin: var(--space-lg) 0;
  position: relative;
}
.production-section .card .card-image {
  position: relative;
}

.production-section .card .card-image img {
  transition: all 0.3s ease-in;
}

.production-section .card .card-image::before {
  content: "\f0c1";
  font-family: "Font Awesome 5 Free";
  font-size: 30px;
  font-weight: 600;
  color: var(--secondary-color);
  position: absolute;
  background-color: var(--color-white);
  padding: var(--space-sm);
  border-radius: 50%;
  transition: all 0.2s ease-in;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1;
}

.production-section .card .card-image:hover img {
  filter: brightness(60%);
  cursor: pointer;
}

.production-section .card .card-image:hover::before {
  display: block;
  cursor: pointer;
  background-color: var(--color-white);
}

/* PRODUCTS SECTION */
.products-section {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-section button {
  margin: calc(var(--space-xl) + 20px) 0;
  transition: all 0.4s ease;
  cursor: pointer;
}
.products-section button:hover {
  background-color: var(--secondary-color);
}

.products-section .card-container {
  width: 100%;
  padding: 0;
}

.products-section .card-container .card {
  width: 25%;
}
.products-section h2 {
  text-align: center;
  margin: calc(var(--space-xl) * 2) 0 var(--space-md) 0;
}

.products-section .card h5 {
  text-align: center;
  font-size: 20px;
  width: 70%;
  font-weight: 600;
  line-height: 1.5;
  transition: all 0.2s ease-in;
}

.products-section .card h5:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
#product-image {
  width: 180px;
  height: 190px;
  margin: var(--space-lg);
}

.products-section .card-container .card:nth-child(4) img {
  border-radius: 50%;
}

/* SCIENTIFIC SECTION */
.scientific-section {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  background-image: url("assests/production1.webp");
  background-size: cover;
}

.scientific-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.scientific-grid .col-left {
  width: 50%;
}

.scientific-grid .col-left img {
  width: 460px;
  border-radius: 50%;
  border: 5px solid var(--color-white);
}

.scientific-grid .col-right {
  width: 50%;
  padding: var(--space-lg) var(--space-md);
}

.scientific-grid .col-right h2 {
  color: var(--color-white);
}

.scientific-grid .col-right h2::before {
  left: 70px;
  height: 2px;
  background-color: var(--color-white);
}
.scientific-grid .col-right p {
  color: var(--color-white);
  margin: var(--space-xl) 0 var(--space-lg) 0;
}

.scientific-grid .col-right button {
  margin: var(--space-xl) 0;
  background-color: transparent;
  border: 2px solid var(--color-white);
  transition: all 0.2s ease-in;
}

.scientific-grid .col-right button:hover {
  color: var(--text-dark);
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

/* FOOTER STYLES */
.footer {
  width: 100%;
  height: 400px;
  background-color: #231f20;
}
#footer-logo {
  width: 190px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  box-sizing: border-box;
  padding: var(--space-lg) calc(var(--space-xl) + 20px) 0
    calc(var(--space-xl) + 20px);
}

.col .socials-links {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: var(--space-lg) 0 0 0;
}
.socials-links i {
  color: var(--secondary-color);
  font-size: 35px;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.socials-links i:hover {
  color: var(--primary-color);
}

.links {
  list-style-type: none;
  padding: 0;
}
.footer .links a {
  color: var(--text-semi-dark);
  transition: all 0.15s ease;
}

.footer .links a:hover {
  color: var(--primary-color);
}

.footer .links li {
  margin: 0 0 4px 0;
}

.footer .col h5 {
  color: var(--color-white);
  font-size: 20px;
  border-bottom: 1px solid white;
  width: 80%;
}

/* footer => copyright styles */
.copyright {
  width: 100%;
  background-color: var(--text-dark);
  padding: var(--space-lg) 0;
  display: flex;
  align-items: center;
}

.copyright p {
  color: var(--text-semi-dark);
  margin: 0 0 0 calc(var(--space-xl) * 2);
}

.copyright span {
  background-color: var(--secondary-color);
  margin-left: auto;
  width: 40px;
  height: 40px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--color-white);
  transition: all 1s ease-in-out;
  position: relative;
}

.copyright span::before {
  content: "Scroll to top";
  position: absolute;
  top: 0;
  font-size: 14px;
  width: 75px;
  height: 20px;
  padding: 1px 0;
  background-color: var(--text-dark);
  border: 1px solid var(--color-white);
  transition: opacity 0.4s ease;
  top: -30px;
  left: -20px;
  opacity: 0;
  pointer-events: none;
}

.copyright span:hover {
  background-color: rgb(209, 209, 71);
  cursor: pointer;
}

.copyright span:hover::before {
  opacity: 1;
}
